@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 /* --brand: #7a97ff; */
  /* --brand: #0b99ff; */

  --brand: #283172;
  --brand-light:  #7784e5;


/*  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  line-height: 1.5;
  font-weight: 400;

  font-family: "MTN Brighter Sans", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}
